_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.bundle
.docker-jekyll-cache
.docker-sass-cache
.docker-site
debug.log
__pycache__
.DS_STORE
.env*
package.json
package-lock.json
yarn.lock
node_modules
