{% assign image = page.header | default: site.header %}
{% assign dark = page.header-dark | is_nil: site.header-dark | is_nil: true %}

{% assign svg = "images/logo.svg" | file_exists %}
{% assign png = "images/logo.png" | file_exists %}
{% assign jpg = "images/logo.jpg" | file_exists %}
{% assign logo = svg | default: png | default: jpg | default: nil %}
{% assign short_svg = "images/logo-short.svg" | file_exists %}
{% assign short_png = "images/logo-short.png" | file_exists %}
{% assign short_jpg = "images/logo-short.jpg" | file_exists %}
{% assign short_logo = short_svg | default: short_png | default: short_jpg | default: nil %}

<header
  class="background"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  {% if page.header-big == true %}
    data-big
  {% endif %}
>
  <a href="{{ "/" | relative_url }}" class="home">
    {% if logo %}
      <span class="logo logo-full">
        {% if svg %}
          {{ svg | file_read }}
        {% else %}
          <img src="{{ logo | relative_url | uri_escape }}" alt="logo">
        {% endif %}
      </span>
    {% endif %}
    {% if short_logo %}
      <span class="logo logo-short">
        {% if short_svg %}
          {{ short_svg | file_read }}
        {% else %}
          <img src="{{ short_logo | relative_url | uri_escape }}" alt="mobile logo">
        {% endif %}
      </span>
    {% endif %}
    {% if site.logo-text != false %}
      <span class="title-text" data-tooltip="Home">
        {% if site.title and site.show-title != false %}
          <span class="title title-desktop">{{ site.title }}</span>
        {% endif %}
        {% if site.mobile-title %}
          <span class="title title-mobile">{{ site.mobile-title }}</span>
        {% endif %}
        {% if site.subtitle and site.show-subtitle != false %}
          <span class="subtitle">{{ site.subtitle }}</span>
        {% endif %}
      </span>
    {% endif %}
  </a>

  <input class="nav-toggle" type="checkbox" aria-label="show/hide nav">

  <nav>
    {% assign current_url = page.url %}
    {% assign pages = site.pages
      | where_exp: "nav_page", "nav_page.nav"
      | sort: "nav.order"
    %}
    {% for nav_page in pages %}
      {% if nav_page.nav %}
        <a
          href="{{ nav_page.url | relative_url | uri_escape }}"
          data-tooltip="{{ nav_page.nav.tooltip | xml_escape }}"
          {% if current_url == nav_page.url %}
            data-active
          {% endif %}
        >
          {{ nav_page.title }}
        </a>
      {% endif %}
    {% endfor %}

    <input
      type="checkbox"
      class="dark-toggle"
      data-tooltip="Dark mode"
      aria-label="toggle dark mode"
      oninput="onDarkToggleChange(event)"
    >
  </nav>
</header>
