{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filter
%}

{% assign years = data
  | group_by_exp: "d", "d.date | date: '%Y'"
  | sort: "name"
  | reverse
%}

{% for year in years %}
  {% assign data = year.items %}

  {% if years.size > 1 %}
    {{--}}<h3 id="{{ year.name }}">{{ year.name }}</h3>
    {% assign data = data | sort: "date" | reverse %}
  {% endif %}

  {% for d in data %}
    {% assign style = d.style | default: include.style %}

    {% if include.component == "citation" %}
      {% include citation.html
        affiliation=d.affiliation
        author=d.author
        authors=d.authors
        buttons=d.buttons
        caption=d.caption
        content=d.content
        date=d.date
        description=d.description
        excerpt=d.excerpt
        height=d.height
        icon=d.icon
        id=d.id
        image=d.image
        last_modified_at=d.last_modified_at
        link=d.link
        lookup=d.lookup
        name=d.name
        publisher=d.publisher
        repo=d.repo
        role=d.role
        slug=d.slug
        style=style
        subtitle=d.subtitle
        tags=d.tags
        text=d.text
        title=d.title
        tooltip=d.tooltip
        type=d.type
        url=d.url
        width=d.width
      %}
    {% elsif include.component == "card" %}
      {% include card.html
        affiliation=d.affiliation
        author=d.author
        authors=d.authors
        buttons=d.buttons
        caption=d.caption
        content=d.content
        date=d.date
        description=d.description
        excerpt=d.excerpt
        height=d.height
        icon=d.icon
        id=d.id
        image=d.image
        last_modified_at=d.last_modified_at
        link=d.link
        lookup=d.lookup
        name=d.name
        publisher=d.publisher
        repo=d.repo
        role=d.role
        slug=d.slug
        style=style
        subtitle=d.subtitle
        tags=d.tags
        text=d.text
        title=d.title
        tooltip=d.tooltip
        type=d.type
        url=d.url
        width=d.width
      %}
    {% elsif include.component == "portrait" %}
      {% include portrait.html
        affiliation=d.affiliation
        author=d.author
        authors=d.authors
        buttons=d.buttons
        caption=d.caption
        content=d.content
        date=d.date
        description=d.description
        excerpt=d.excerpt
        height=d.height
        icon=d.icon
        id=d.id
        image=d.image
        last_modified_at=d.last_modified_at
        link=d.link
        lookup=d.lookup
        lang=d.lang
        name=d.name
        group=d.group
        links=d.links
        publisher=d.publisher
        research=d.research
        research_interest=d.research_interest
        research_interests=d.research_interests
        repo=d.repo
        role=d.role
        slug=d.slug
        style=style
        subtitle=d.subtitle
        tags=d.tags
        text=d.text
        title=d.title
        tooltip=d.tooltip
        type=d.type
        url=d.url
        width=d.width
        direction=d.direction
      %}
    {% elsif include.component == "post-excerpt" %}
      {% include post-excerpt.html
        affiliation=d.affiliation
        author=d.author
        authors=d.authors
        buttons=d.buttons
        caption=d.caption
        content=d.content
        date=d.date
        description=d.description
        excerpt=d.excerpt
        height=d.height
        icon=d.icon
        id=d.id
        image=d.image
        last_modified_at=d.last_modified_at
        link=d.link
        lookup=d.lookup
        name=d.name
        publisher=d.publisher
        repo=d.repo
        role=d.role
        slug=d.slug
        style=style
        subtitle=d.subtitle
        tags=d.tags
        text=d.text
        title=d.title
        tooltip=d.tooltip
        type=d.type
        url=d.url
        width=d.width
      %}
    {% endif %}
  {% endfor %}
{% endfor %}
