<!-- third party styles -->
<!-- https://stylishthemes.github.io/Syntax-Themes/pygments/ -->
<link 
  href="https://cdn.jsdelivr.net/gh/StylishThemes/Syntax-Themes/pygments/css-github/pygments-tomorrow-night-eighties.css"
  rel="stylesheet"
/>

<!-- include all sass in styles folder -->
{% for style in site.pages %}
  {% if style.url contains '/_styles' %}
    {% unless style.url contains ".map" %}
      <link
        href="{{ style.path | replace: ".scss", ".css" | relative_url }}"
        rel="stylesheet"
      />
    {% endunless %}
  {% endif %}
{% endfor %}

<!-- include all css in styles folder -->
{% for style in site.static_files %}
  {% if style.path contains '/_styles' and style.path contains '.css' %}
    <link
      href="{{ style.path | relative_url }}"
      rel="stylesheet"
    />
  {% endif %}
{% endfor %}
